body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

nav {
  margin: 5vh;
}

ul {
  list-style: none;
  padding: 0;
}

.nav-list {
  font-size: 0;
}

.nav-list .nav-item {
  display: inline-block;
}

.nav-list li {
  background-color: #47986d;
  font-size: 2rem;
}

.nav-item {
  position: relative;
}

.nav li:hover {
  background-color: #3c805b;
}

a.nav-link {
  display: block;
  padding: 20px 80px;
  border: 1px solid #3c805b;
  text-decoration: none;
  text-align: center;
  color: #fff;
}

.sub-nav-list .nav-link {
  padding: 20px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sub-nav-list {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
}

.nav-item:hover > .sub-nav-list {
  display: block;
}

.sub-sub-nav-list {
  display: none;
  position: absolute;
}

.sub-nav-item {
  position: relative;
}

.sub-nav-item:hover > .sub-sub-nav-list {
  display: block;
  left: 100%;
  top: 0;
}

.sub-sub-nav-list .nav-link {
  padding: 20px 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p {
  text-indent: 5vw;
  text-align: justify;
  margin: 5vh;
  font-size: 2rem;
}